  <h2>{{task}}</h2>  
  
  <form action="/delete/{{task}}" method="post">
  <ul class="tasks">
    <li class="task">
      <span>
        Description: {{description}}<br>
        <input type="hidden" name="task" value="{{task}}">
      </span>
    </li>
  </ul>

<a href="/tasks">Go Back</a>
<button id="deletar" type="submit">X</button>
</form>


<h3>Edit Task</h3>
<form action="/update/{{task}}" method="post">
  <input type="hidden" name="task" value="{{task}}">
  <input type="text" name="newtask" value="{{task}}"><br><br>
  <textarea name="description" cols="25" rows="6">{{description}}</textarea><br><br>
  <button type="submit">Edit Task</button>
</form>